.coverage-area-selector-form {
  #coverage-selector {
    > .form-group {
      display: flex;
      margin: 0 -5px;

      .form-type-select {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  #coverage-form {
    > .form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;

      margin-left: -10px;
      margin-right: -10px;

      > * {
        flex-shrink: 0;
        padding-left: 10px;
        padding-right: 10px;
      }

      > .form-group {
        flex-basis: 70%;
      }

      > .table-responsive {
        flex-basis: 30%;
      }

      .form-actions {
        flex-basis: 100%;
        margin-top: 30px;
      }
    }

    .field--type-entity-reference.field--widget-inline-entity-form-simple {
      margin-bottom: 0;

      > .form-group {
        margin-bottom: 0;
        display: flex;
      }

      legend {
        margin-bottom: 0;
        flex-basis: 30%;
        flex-shrink: 0;
      }

      .fieldset-wrapper {
        flex-basis: 70%;
        flex-shrink: 0;

        > .form-group {
          display: flex;
          margin: 0 -15px;
          align-items: flex-end;

          > .form-group {
            padding: 0 15px;

            .form-group {
              margin-bottom: 0;
            }
          }
        }

        .field--name-field-amount,
        .field--name-field-tat {
          max-width: 30ex;
        }

        .field--widget-boolean-checkbox {
          margin-bottom: 1.25em;
        }
      }
    }
  }
}
