.navbar-brand {
  img {
    width: 200px;
    max-width: 100%;
    height: auto;
  }
}


.block-menu.menu--account {
  .nav {
    display: block;
  }

  .nav-link {
    display: block;
    text-align: center;
    color: $gray-600;
  }
}


.block-menu {
  &.menu--main,
  &.menu--backoffice {
    .nav-link {
      font-weight: bold;
      text-align: center;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}
