.node.node--services {
  .paragraph--type--xeno-hero {

    .paragraph--type--bp-grid {
      > .container > .row > div {
        @include media-breakpoint-up(md) {
          flex-basis: 33%;

          &:nth-child(2) {
            order: -1;
          }

          &:nth-child(2) {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              top: 50%;
              right: -10px;
              width: 20px;
              background-color: #fff;
              height: 3px;
            }
          }
          &:nth-child(3) {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              top: 50%;
              left: -10px;
              width: 20px;
              background-color: #fff;
              height: 3px;
            }
          }

          &:nth-child(4) {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              top: -10px;
              right: -10px;
              width: 30px;
              background-color: #fff;
              height: 3px;
              transform: rotate(-45deg);
            }
          }

          &:nth-child(5) {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              top: -10px;
              left: 50%;
              width: 3px;
              background-color: #fff;
              height: 20px;
            }
          }

          &:nth-child(6) {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              top: -10px;
              left: -10px;
              width: 30px;
              background-color: #fff;
              height: 3px;
              transform: rotate(45deg);
            }
          }


        }

        &:first-child {
          .paragraph--type--bp-simple {

            > .paragraph__column {
              background-color: rgba($gray-900, 0.7);
            }
          }
        }


      }
    }
  }
}
